body {
    font-family: Arial, Helvetica, sans-serif;
    Margin: 0;
    padding: 0;
    background-color: blue;
    display: flex;
    justify-content: center;
}

.card {
    margin-top: 10px;
    width: 300px;
    background-color: rgba(43, 226, 134, 0.651);
border-radius: 10px;
box-shadow: 0 4px rgba(43, 226, 134, 0.651);
transition: Tranform 0.3s; font-variant-east-asian: ;
}
